@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// варычи
$body-bg: #dcdcdc;
$pc-vw-font-size: 1.45vw;
$pc-vw-btn-for-abs: 0.8vw;

// тема
$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
  )
);

// селекторы
.form-control:focus {
  border-color: #1d2838;
  outline: 0;
  box-shadow: 20px 20px 15px 2rem rgba(13, 110, 253, 0.25);
}

.svg-navbar {
  position: relative;

  > * {
    position: relative;
    color: white;
  }
}

.svg-btn {
  display: inline-block;
  width: min-content;
  position: absolute;
  text-align: center;
  color: white;
  box-sizing: content-box;
  fill: #111010;
  z-index: 1;
  
  transition: 0.3s;
  
  &.hoover {
    color: #FC0;
    transition: 0.35s;
    text-shadow: #FC0 1px 0 18px;
  }

  &.left {
    top: $pc-vw-btn-for-abs;
    left: $pc-vw-btn-for-abs;

    > span {
      font-size: $pc-vw-font-size;
      user-select: none;
      position: absolute;
      width: 90%;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.right-0 {
    top: $pc-vw-btn-for-abs;
    right: $pc-vw-btn-for-abs;


    > span {
      font-size: $pc-vw-font-size;
      line-height: $pc-vw-font-size;
      user-select: none;
      position: absolute;
      width: 90%;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.right-1 {
    top: $pc-vw-btn-for-abs;
    right: 14vw;


    > span {
      font-size: $pc-vw-font-size;
      line-height: $pc-vw-font-size;
      user-select: none;
      position: absolute;
      width: 90%;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

.svg-test{
  transition: 1s;
}

.arimo- {
  // <weight>: Use a value from 400 to 700
  font-family: 'Arimo', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  &250 {
    font-family: 'Arimo', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 250;
  }
  &400 {
    font-weight: 400;
  }
}

* {
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='email']:focus,
  input[type='number']:focus,
  [type='text'].form-control:focus,
  [type='password'].form-control:focus,
  [type='email'].form-control:focus,
  [type='tel'].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
  }
}

input.form-control:focus {
  border-color: #000000;
}

@import 'bootstrap/scss/bootstrap';
